<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Members of Staff</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Grenze&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{login.css}">
</head>
<body>
<div align="center">
    <h1 style="color: white">Contact List</h1>
    <!--    <a th:href = "@{/createStaff}" class="btn btn-primary btn-sm mb-3" style="background-color: #c6cf5c; color: black"> Add Employee </a>-->
    <table border="1" class="table table-striped table-responsive-md" style="color: black">
        <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Address</th>
            <th>Remark</th>
            <!--            <th>Email</th>-->
            <!--            <th>Address</th>-->
            <!--            <th>Action</th>-->
        </tr>
        </thead>
        <tbody>
        <tr th:each="contact : ${contactList}">
            <td th:text="${contact.getName()}"></td>
            <td th:text="${contact.getPhone()}"></td>
            <td th:text="${contact.getEmail()}"></td>
            <td th:text="${contact.getAddress()}"></td>
            <td th:text="${contact.getRemark()}"></td>
            <!--            <td th:text="${staff.getEmail()}"></td>-->
            <!--            <td th:text="${staff.getAddress()}"></td>-->
            <td>
                <a th:href="@{/admin/del_contact/{id}(id=${contact.getContactId()})}" class="btn btn-danger" style="background-color: #0d244b">Delete</a>
            </td>
        </tr>
        </tbody>
        <td>
            <a th:href="@{/admin/bulk_cdelete}" class="btn btn-danger" style="background-color: #0d244b">Delete All</a>
        </td>
    </table>
    <br> <br>
    <h3 style="color: white; position: center"><a style="color: black" href="/admin/dashboard">Home</a></h3>
</div>
</body>
</html>